body {
    background-color: #060404;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
}

.carousel {
    margin: 5% 5%;
    height: 60%;
    overflow: hidden;
}


.carousel  img{
    width: 100%; /* Responsive width */
    height: 60%; /* Fixed height */
    object-fit: cover; /* Cover the area without stretching */
}

.carousel-caption {
    color: white !important;
    text-shadow: 2px 2px 2px #000000;
    z-index: 100;
}



.navbar {
    margin-bottom: 20px;
    background-color: #004085;
}

.news-card {
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Distributes space between and around content items */
    height: 100%; /* Full height */
}

.card-body {
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Distributes space between and around content items */
    height: calc(100% - 200px); /* Adjust based on image height */
    overflow: hidden; /* Hides overflow */
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.news-card:hover {
    transform: translateY(-5px); /* Slightly raise the card on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.card-img-top {
    height: 200px; /* Fixed height for images */
    object-fit: cover; /* Cover the area without stretching */
}

.card-title {
     /* Bootstrap primary color for text */
    color: #007bff;

}

.card-text {
    color: #007bff; /* Bootstrap dark color for text */
}


.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

#newsModal .modal-content {
    background-color: #f0f0f0; /* Custom background color */
    color: #333; /* Text color */
    height: 200%;
}

#newsModal .modal-header {
    background-color: #007bff; /* Header background color */
    color: #fff; /* Header text color */
}

#newsModal .modal-body {
    max-height: 400px; /* Maximum height */
    overflow-y: auto; /* Make it scrollable */
}

#newsModal .btn-primary {
    background-color: #007bff; /* Primary color */
    border-color: #007bff; /* Border color */
}

#newsModal .btn-primary:hover {
    background-color: #0056b3; /* Darker on hover */
    border-color: #004085; /* Border color on hover */
}

#newsModal .modal-body p:first-of-type {
    filter: blur(1.5px); /* Apply blur effect */
    transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

#newsModal .modal-body p:first-of-type:hover {
    filter: blur(0); /* Remove blur on hover */
}

.close {
    color: #fff; /* Close button color */
}


@media (max-width: 768px) {
    .news-card {
        margin-bottom: 7%;
        margin: 7% 10%;
    }
    body {
        font-size: 0.9rem; /* Smaller font size for mobile devices */
    }

    .card-title, .modal-title {
        font-size: 1.2rem; /* Adjust title size for mobile */
    }

    .card-text, #newsModal .modal-body p {
        font-size: 0.8rem; /* Adjust text size for mobile */
    }
    

}